
<div class="text-center">
    <h1>Tracking</h1>
</div>
<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link" asp-controller="Tracking" asp-action="RoleChanges">Role Changes</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" asp-controller="Tracking" asp-action="BookRequests">Book Requests</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" asp-controller="Tracking" asp-action="BookReturns">Book Returns</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" asp-controller="Tracking" asp-action="Archives">Archives</a>
    </li>
</ul>
